*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.color-picker-ctn{
    margin: 10px 0;
    display: flex;
    gap:10px;
    cursor: pointer;

}

.round{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lavender{background-color: #E6E6FA;}
.banana{background-color: #F5EDBC;}
.red{background-color: red;}
.white{background-color: white;}
.black{background-color: black;}
.navy{background-color: navy;}
.lime{background-color: #dee7b1;}
.green{background-color: #43b870;}
.aqua{background-color: #14b2ca;}
.ocean{background-color: #12317c;}
.orchid{background-color: #ab8dbb;}
.citrus{background-color: #ECED96;}
.cerulean{background-color: #333781;}
.blue{background-color: #0157c2;}
.pink{background-color: #F07AB4}
.garnet{background-color: #833741;}
.juice{background-color: #E364AE;}
.charcoal{background-color: #A9A9A9;}
.multi{background-image: url("../Crocs/Other/multi.PNG");
    background-size: contain;}
.neon{background-color: #44207e;}
.espresso{background-color: #79706e;}
.pistachio{background-color:#ccdae5 ;}
.blossom{background-color: #d79a98;}
.limeade{background-image: url("../Crocs/Other/limeade.PNG");
    background-size: contain;}
.chai{background-image: url("../Crocs/Other/chai.PNG");
background-size: contain;}
.denim{background-image: url("../Crocs/Other/denim.PNG");
    background-size: contain;}



.bone{background-color: #cec9b2;}
.poppy{background-color: #d86b92;}
.grey{background-color: grey;}
.lemon{background-color: #e1c40e;}




.size_selected{
    background-color: black;
    color: white;
}



.selected{
    border: 3px solid green;
}

.globalCroc {
    width: 100%;
    padding-top: 170px;
}

.sortList {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
    color : white;
    transition: 0.4s;
    margin-bottom: 15px;
    outline: #000000 1px solid;
}
.allSort{
    transition: 0.4s;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.price-btn-des ,.price-btn-asc{
    margin-top: 10px;
    border: 2px solid #000000;
    color: black;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: 0.4s;
    margin-right: 50px;
    box-shadow: #000000 2px 2px 2px 2px;
    

}

.picker{
    box-shadow: #000 2px 2px 2px 2px;
}

.all{
    color : black;
}

.price-btn-des:hover, .price-btn-asc:hover{
    background-color: #000000;
    color: #ffffff;
    transition: 0.4s;
}



.invisSortList {
    height: 0px;
    transition: 0.5s;
    overflow: hidden;
}

.filtersdiv {
    display: flex;
    flex-direction: column;
}

.filterSort {
    display: flex;
    flex-direction: row;
}

.ctn-crocs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.croc-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 0px solid #000;
    box-shadow: 2px 2px 2px 2px grey;
}

.croc-img{
    width: 300px
}

.reduc {
    color: red;
    font-weight: bold;
    font-size: 120%;
}

.oldPrice {
    text-decoration: line-through;
}

.crocPrice {
    display: flex;
    flex-direction: row;
}

.cart-icon{
    margin-left: 40px;
    height: 35px;
    width:35px;
    background-image: url("img/panier.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 93%;
    z-index: 10;
    cursor: pointer;
    user-select: none;

}

@media screen and (max-width: 946px) {
    .cart-icon{
        display: none;
    }
}
.cart-ctn{
    background: #f5f5f5;
    position: fixed;
    top: 144px ;
    right: -500px;
    width: 500px;
    height: 590px;
    max-width: 100vw;
    z-index: 9;
    padding-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    display: none;
    }
    



.open-cart{
    right: 0;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: #000 1px solid;
    padding-bottom: 10px;
    height: auto;
    margin: 10px;

}
.cart-croc-img{
    width: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}