

body{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#savoir_plus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: auto;
    background-color: #eae7e4;
}
#bandeau{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #181a1b;
    height: 30px;
    width: 100%;
    color : white;
}

#Menu_Crocs{
    height: 72px;
    width: 100%;
    border-bottom: #303232 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;


}

#promo{
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.titre{
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.name:hover{
    color: rgb(38, 80, 98);
    transition : 0.4s;
}
#logo{
    margin-left: 40px;
    height: 35px;
    width:160px;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}




#like{
    margin-left: 40px;
    height: 35px;
    width:35px;
    background-image: url("img/coeur.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 88%;
}

#panier{
    margin-left: 40px;
    height: 35px;
    width:35px;
    background-image: url("/style/img/panier.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 93%;
}

#accueil_redirect{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: antiquewhite;
    margin-bottom: 10px;
}

.img_accueil{
    height: 50%;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#second_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 82px;
    width: 100%;
    color : #444444;
    font-weight: bold;
    border-bottom: 2px solid #e4e1e5;
    border-top: 2px solid #e4e1e5;
}

.second_titre{
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

#deco_petite{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.petite_image{
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.petite_image:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}