

body{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#savoir_plus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: auto;
    background-color: #eae7e4;
}
#bandeau{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #181a1b;
    height: 48px;
    width: 100%;
    color : white;
    overflow:hidden;
    
    
}

#tmp{
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

#livraison{
    padding-right:auto;
    padding-left: 70px;
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
    font-size: 14px;
    
}

#inscription{
    position: absolute;
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 30%;
    margin-left: 430px;
    border-right: #ffffff 3px solid;
    padding-right: 80px;
    padding-left: 80px;
    height: 48px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    
}

#inscription:hover{
    background-color: #ffffff;
    color: black;
    transition : 0.1s;
}

#compte{
    position: absolute;
    left: 84.5%;
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding-right: 50px;
    padding-left: 50px;
    cursor: pointer;
    user-select: none;
}
#compte:hover{
    background-color: #ffffff;
    color: black;
    transition : 0.1s;
}

#fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

a{
    text-decoration: none;
}

.crocsDetails{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    user-select: none;
}

.crocsDetails:hover{
    text-decoration: underline;
    transition : 0.1s;
}
    


#Menu_Crocs{
    height: 72px;
    width: 100%;
    border-bottom: #303232 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    background-color: #ffffff;
    position: fixed;


}



#promo{
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.titre{
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
    cursor: pointer;
    user-select: none;
}

.titre_promo{
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    color: red;
    cursor: pointer;
    user-select: none;
}

.titre_promo:hover{
    color: #006da4;
    transition : 0.1s;
}

.titre:hover{
    color: #006da4;
    transition : 0.1s;
}

@media screen and (max-width: 946px) {
    #Menu_Crocs{
        height: 50px;

    }
    .titre{
        display: none;
    }
    #like{
        display: none;
    }
    .titre_promo{
        display: none;
    }
    #bandeau{
        height: 40px;
        justify-content: center;
    }
    #inscription{
        display: none;
    }
    #compte{
        display: none;
    }
    

}

@media screen and (min-width: 946px) {
    #menu_img{
        display: none;
    }
}
#logo{
    height: 35px;
    width:160px;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-weight: bold;
}

#menu_img{
    height: 25px;
    width: 25px;
    background-image: url("img/menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    user-select: none;
}



#like{
    margin-left: 40px;
    height: 35px;
    width:35px;
    background-image: url("img/coeur.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 88%;
    cursor: pointer;
    user-select: none;
}




#accueil_redirect{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: antiquewhite;
    padding-bottom: 10px;
}

.img_accueil{
    height: 364px;
    width: 655px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5%;
    margin-top: 150px;
}

#second_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 82px;
    width: 100%;
    font-weight: bold;
    border-bottom: 2px solid #e4e1e5;
    border-top: 2px solid #e4e1e5;
}

.second_titre{
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    color : #444444;
    cursor: pointer;
    user-select: none;
}

.second_titre:hover{
    color: black;
    text-decoration: underline;
    transition : 0.4s;
}

.deco_petite{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.petite_image{
    height: 182px;
    width: 182px;
    border-radius: 5%;
    cursor: pointer;
    user-select: none;
}
@media screen and (max-width: 1148px) {
    .petite_image{
        height: 115px;
        width: 115px;
    }
    
}

.petite_image:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#grande_deco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    

}
#grande_image{
    background-image: url("img/grande_deco.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1200px;
    height: 470px;

}


@media screen and (max-width: 762px){
    #grande_image{
        background-image: url("img/grande_deco_bis.webp");
    }
}

#haut_footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 122px;
    width: 100%;
    margin-top: 15px;
}
#bouton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 71px;
    width: 270px;
    background-color: white;
    color: black;
    border: 3.5px solid white;
}

#bouton:hover{
    background-color: black;
    color: white;
    transition : 0.4s;
    cursor: pointer;
    user-select: none;
}

#bar_contact{
    height: 52px;
    background-color: black;
    border-top : 2px solid white;
    border-bottom : 2px solid white;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#profil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    color : white;
    cursor: pointer;
    user-select: none;
}
#profil:hover{
    text-decoration: underline;
}
#profil_img{
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

#location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    color : white;
    cursor: pointer;
    user-select: none;
}

#location:hover{
    text-decoration: underline;
}

#location_img{
    height: 18px;
    width: 13px;
    margin-right: 10px;
}
#france{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    color : white;
    cursor: pointer;
    user-select: none;
}
#france_img{
    height: 13px;
    width: 18px;
    margin-right: 10px;
}
#france:hover{
    text-decoration: underline;
}

#logos_reseaux{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#insta{
    height: 48px;
    width: 48px;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



#insta_img{
    height:24px;
    width: 24px;
}

#insta_img:hover{
    height: 28px;
    width: 28px;
    transition : 0.4s;}

#youtube{
    height: 48px;
    width: 48px;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#youtube_img{
    height:16px;
    width:24px;
}

#youtube_img:hover{
    height: 20px;
    width: 28px;
    transition : 0.4s;
}

#facebook{
    height: 48px;
    width: 48px;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#facebook_img{
    height:24px;
    width: 24px;
}

#facebook_img:hover{
    height: 28px;
    width: 28px;
    transition : 0.4s;
}

#twitter{
    height: 48px;
    width: 48px;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#twitter_img{
    height:24px;
    width: 24px;
}

#twitter_img:hover{
    height: 28px;
    width: 28px;
    transition : 0.4s;
}

#personne_lis_ça{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    height: 250px;
    width: 100%;
    background-color: black;
    border-bottom: #ffffff 2px solid;
    color: white;
}

#exclu{
    display: inline;
    flex-direction: column;
    align-items: center;
    height: 250px;
    background-color: black;
    border-bottom: #ffffff 2px solid;
    color: white;

}

.sous_exclu{
    padding-top: 10px;
    cursor: pointer;
    user-select: none;
}

.sous_exclu:hover{
    text-decoration: underline;
}

#global{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 141px;
}

.detailsCaroussel{
    height: 583px;
    width: 843px;
    background-color: #fefefe;
}

.detailsInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 477px;
    width: 376px;
    gap: 25px;
}

.detailsTitle{
    font-size: large;
    font-weight: bold;
}

.detailsPrice{
    font-size: medium;
    font-weight: bold;
}

.detailsColorName{
    font-size: medium;
}


.ajout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    color: white;
    background-color: #000000;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    user-select: none;
    transition : 0.4s;
}

.ajout:hover{
    background-color: #ffffff;
    color: black;
    transition : 0.4s;
}
.vider{
    position: relative;
    left: 50%;
    padding-top: 10px;
    border: 2px solid #000000;
    color: white;
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.vider:hover{
    background-color: #ffffff;
    color: black;
    transition : 0.4s;
}

.confirmButton{
    border: 2px solid #000000;
    color: white;
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition : 0.4s;
}

.confirmButton:hover{
    margin-left: 10px;
    background-color: #ffffff;
    color: black;
    transition : 0.4s;
}


.caroussel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e2dcdc;
}

.Arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    height: auto;
    width: 100px;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.carousselImg{
    height: 70%;
    width: 70%;
    background-color: #e2dcdc;
    
}

.carousselImgMini {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    background-color: #e2dcdc;
    padding-bottom: 15px;
}

.MiniCarousselImg {
    height: 50px;
    width: 50px;
    border : 1px solid black;
}

.MiniCarousselImg:hover{
    border: 2px solid black;
    transition : 0.1s;
}

.allColors {
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    border: 1px solid black;
    border-radius: 5px;

}

.allColors:hover{
    border: 2px solid black;
    transition : 0.1s;
}


.detailsColors{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#poubelle{
    height: 24px;
    width: 24px;
    cursor: pointer;
    user-select: none;
}

#poubelle:hover{
    height: 28px;
    width: 28px;
    transition : 0.4s;
}