*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.color-picker-ctn{
    margin: 10px 0;
    display: flex;
    gap:10px;
}

.round{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue{background-color: blue;}
.red{background-color: red;}
.white{background-color: white;}
.black{background-color: black;}
.grey{background-color: grey;}

.selected{
    border: 3px solid green;
}

.ctn-crocs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.croc-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.croc-img{
    width: 300px
}

.cart-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 10px;
    z-index: 10;
}
.cart-ctn{
    background: #f5f5f5;
    position: absolute;
    top: 0 ;
    right: -500px;
    width: 500px;
    height: 100vh;
    max-width: 100vw;
    z-index: 9;
    padding-top: 80px;
}
.open-cart{
    right: 0;
}

.cart-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart-croc-img{
    width: 75px;
    border-radius: 10px;
}